html(lang="zh-CN")
head
	meta(charset="UFT-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="renderer" content="webkit")
	title 汉阳区文明创建后台
	link(rel="stylesheet" href="../../lib/css/bootstrap.min.css")
	link(rel="stylesheet" href="../../stylus/reset.styl")
	link(rel="stylesheet" href="../../stylus/components.styl")
	link(rel="stylesheet" href="../../stylus/login.styl")
body

	form.login-form.border-radius
		h3.text-center 汉阳区文明创建
		p.text-center.mb50 动态管理系统
		.login-form-group
			input.login-form-input.login-form-user(placeholder="账号")
		.login-form-group
			input.login-form-input.login-form-pwd(type="password" placeholder="密码")
		.login-form-group
			label
				input(type="checkbox")
				span 记住密码
		.login-from-group
			button.btn.btn-success.login-form-submit 登录



	script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
	script(src="../../lib/js/bootstrap.min.js")
	script(src="../../js/main.js")
	block footQuote


