extends ../../components/layout

block title
	title 巡查员管理

block side
	- var navActiveIndex = 6
	include ../../components/side

block main
	//  当前位置
	ul.location.list-unstyled
		li.location-item.green 巡查员管理

	// 表格筛选
	div.org-filter.clearfix.mt20.mb20
		span.pull-right.mt10
			span.green 47
			| 个巡查员
		form.form.form-inline
			div.form-group
				input.form-control(type="text" placeholder="关键字")
			div.form-group
				button.btn.btn-success 搜索
			div.form-group
				a.btn.btn-success(href="#")
					span.glyphicon.glyphicon-plus
					| 新建巡查员

	// 表格
	div.m-table
		table.gray
			thead
				tr
					th 编号
					th 账户名
					th 姓名
					th 所属单位
					th 状态
					th 建立时间
					th 操作
			tbody
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-default 禁用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-success 启用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-default 禁用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-success 启用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-default 禁用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-success 启用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-default 禁用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-success 启用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-default 禁用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-success 启用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-default 禁用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				tr
					td NO123
					td 巡查老司机
					td 老司机
					td 国税局巴拉巴拉巴拉巴拉巴拉
					td 
						span.label.label-success 启用
					td 2017-01-13 14:00
					td
						a.green.glyphicon.glyphicon-eye-open(href="#")
				

		// 分页
		form.pages.form.form-inline.text-center
			div.form-group
				a.btn.btn-success(href="#")
					span.glyphicon.glyphicon-menu-left
			div.form-group
				span.green 1/7
			div.form-group
				a.btn.btn-success(href="#")
					span.glyphicon.glyphicon-menu-right
			div.form-group
				input.form-control(type="number" required)
			div.form-group
				button.btn.btn-success 跳转