extends ../../components/layout

block title
	title 考核标准

block headQuote
	link(rel="stylesheet" href="../../stylus/org.styl")

block side
	- var navActiveIndex = 1
	include ../../components/side

block main
	//  当前位置
	ul.location.list-unstyled.gray.mb20.clearfix
		li.location-item.pull-left 单位管理
		li.location-item.pull-left
			span.glyphicon.glyphicon-menu-right
			span.green 考核标准

	// 表头
	h3.text-center 武汉市文明单位动态管理考核评测标准

	// 评估表
	table.m-table.org-standard
		thead
			tr
				th 考核项目(分值)
				th 考核内容
				th 记分标准
				th 标准分值
		tbody
			//- 一
			tr
				td(rowspan="3") 一、组织领导有力（10分）
				td 1、认真学习贯彻邓小平理论、“三个代表”重要思想、科学发展观和习近平总书记系列重要讲话精神，高度重视精神文明建设工作，把创建工作列入单位发展规划和重要议事日程。
				td ①精神文明建设内容没有纳入单位发展总体规划、年度工作计划和年度工作目标考核的，扣2分；<br>②精神文明建设工作没有列入领导班子办公会重要议题的，扣1分；
				td 3
			tr
				td 2、机构健全、人员落实、计划周全、措施具体、制度完善、管理科学、经费保证、工作到位，并取得明显实效。
				td ①无精神文明创建工作领导机构的，扣1分；<br>②无精神文明创建工作年度计划及责任分工的，扣1分；无总结的，扣1分；<br>③无专兼职工作人员的，扣0.5分；精神文明创建活动经费未列入年度预算的，扣0.5分。
				td 4
			tr
				td 3、文明单位创建活动广泛发动，单位干部职工知晓率、参与率、满意率高。
				td 单位干部职工对文明单位创建知晓率、参与率、满意率低于95%的，每一项扣1分。
				td 3

			//- 二
			tr
				td(rowspan="3") 二、思想教育深入（10分）
				td 1、深入开展中国特色社会主义理想信念教育和中国梦主题教育，在干部职工中大力开展培育和践行社会主义核心价值观活动。
				td ①无开展中国特色社会主义理想信念教育和中国梦主题教育活动实施方案的，扣1分；<br>②无培育和践行社会主义核心价值观实施方案的，扣1分；<br>③未利用单位宣传阵地宣传社会主义核心价值观或宣传氛围不浓的，扣1分。
				td 3
			tr
				td 2、推进社会公德、职业道德、家庭美德、个人品德建设，开展身边好人、最美人物、道德模范评选表彰活动。举办道德讲堂，广泛开展修身律己活动。开展文明礼仪教育，培育文明礼仪之风。
				td ①未开展我推荐我评议身边好人、最美人物、道德模范等先模人物评选活动的，扣1分；<br>②无道德讲堂年度活动方案的，扣1分；道德讲堂年度活动记录不少于6次，内容突出社会主义核心价值观、节俭养德、诚信教育、文明旅游等内容，总分3分，少1次扣0.5分；<br>③未结合单位实际开展文明礼仪教育的，扣1分。
				td 6
			tr
				td 3、设立思想道德公益广告宣传牌，营造浓厚的道德文化氛围，单位敬业奉献、团结互助、诚实守信、创先争优风气浓厚
				td 思想道德文化氛围不浓厚，未形成敬业奉献、团结互助、诚实守信、创先争优良好风气的，扣1分。
				td 1

			//- 三
			tr
				td(rowspan="4") 三、创建活动扎实（15分）
				td 1、扎实开展文明城市创建活动，完成文明城市创建工作责任目标。
				td ①无参加文明交通劝导志愿服务活动，扣2分；<br>②未开展“不剩饭、不剩菜”文明餐桌行动的，扣1分；<br>③未完成文明城市创建工作责任目标的，扣2分；<br>④在文明城市迎检工作中，被测评组扣分的，本项5分全部扣完，计零分。
				td 5
			tr
				td 2、广泛开展文明机关、文明科室、文明车间、文明班组、文明岗位以及文明小区、文明家庭、诚信单位等创建评选活动。
				td 未开展相关活动的，扣1分。
				td 1
			tr
				td 3、主动履行社会责任，积极参与公益活动，坚持开展乡村共建、社区共建等活动。
				td ①没有与乡村、社区开展结对共建并制定结对共建乡村、社区实施方案的，扣2分；<br>②无开展共建活动，不能提供共建工作档案记录的，扣2分。
				td 4
			tr
				td 4、广泛开展“关爱他人、关爱社会、关爱自然”志愿服务活动。开展网络文明传播志愿服务活动，运用微博、QQ群等多种形式，传播文明风尚。
				td ①没有成立学雷锋志愿服务队的，扣1分；<br>②开展“三关爱”学雷锋活动每月至少1次，少一次扣0.5分，直至扣完2分为止；<br>③无网络文明传播志愿服务小组的，扣1分；没有按要求开展网络文明传播志愿服务活动的，扣1分。
				td 5

			//- 四
			tr
				td(rowspan="3") 四、服务优质高效（7分）
				td 1、恪守职业道德，健全规章制度，规范服务行为，增加便民措施，自觉抵制各种不正之风。切实改善服务质量，服务项目齐全，服务设施完善，服务环境优美，服务效果良好。
				td ①未制定系列服务规范的，扣1分；<br>②未推出具体便民举措的，扣2分。
				td 2
			tr
				td 2、转变服务作风，强化服务意识，真心实意为群众或服务对象解难事、办实事，群众或服务对象满意率高。
				td ①未开展优质服务主题活动的，扣2分；<br>②年度行业群众满意度测评排在后五位的，扣1分。
				td 2
			tr
				td 3、建立受理投诉机构，公布举报电话，及时妥善处理投诉。
				td ①未建立受理投诉机构的，扣1分；<br>②未公布举报电话的，扣1分；<br>③未及时妥善处理投诉并做好投诉处理记录的，扣1分。
				td 3

			//- 五
			tr
				td(rowspan="3") 五、文化氛围浓厚（7分）
				td 1、积极创建学习型单位，经常开展业务知识、科技文化知识培训，形成全员学习、终身学习、自觉学习的良好风尚。
				td ①无开展学习型单位创建活动实施方案的，扣1分；<br>②无开展读书学习活动方案的，扣1分；无考核办法的，扣1分；无读书学习交流活动（演讲比赛、知识竞赛等）的，扣1分。
				td 2
			tr
				td 2、结合单位、行业实际，广泛开展行业文化、机关文化、企业文化、校园文化建设，以文化人。
				td ①无行业文化、机关文化、企业文化、校园文化等建设方案的，扣1分；<br>②没有开展具体活动的，扣1分。
				td 2
			tr
				td 3、弘扬中华优秀传统文化，坚持开展群众性文体活动，职工文化娱乐及体育健身活动丰富多彩。积极开展“我们的节日”主题活动。
				td ①未建立受理投诉机构的，扣1分；<br>②未公布举报电话的，扣1分；<br>③未及时妥善处理投诉并做好投诉处理记录的，扣1分。
				td 3

			//- 六
			tr
				td(rowspan="3") 六、管理民主科学（6分）
				td 1、健全民主管理制度，推行党务公开、政务公开、厂务公开等公开办事制度。工会、职代会等民主管理制度健全、完善。
				td ①单位各项规章制度不健全、规范、科学、透明的，扣1分；<br>②无党务公开、政务公开、厂务公开等公开办事制度的，扣1分；<br>③未按规定开展工会活动、举行职代会的，扣1分。
				td 2
			tr
				td 2、重视法制宣传教育，积极培育法治文化、法治精神。
				td 法制宣传教育全年不少于3次，少一次扣1分，直至扣完3分为止；
				td 3
			tr
				td 3、注重人文关怀，职工合法权益得到保障。
				td 出现侵犯职工权益案件的，扣1分。③未及时妥善处理投诉并做好投诉处理记录的，扣1分。
				td 1

			//- 七
			tr
				td(rowspan="2") 七、工作实际突出（25分）
				td 1、党政机关和执法部门廉洁高效、办事公道，依法行政、执政为民。生产经营单位积极适应社会主义市场经济的发展，改革进取，诚信经营，科学管理，安全生产，产品质量高。非生产经营性单位内部管理严、工作效率高、服务质量好、社会形象好。
				td ①党政机关、窗口行业工作满意度测评、群众满意度测评低于85%的，年度绩效考核不达标的，扣3分。<br>②没有根据单位实际开展提高业务工作实绩主题活动的，扣2分；（如党政机关开展“做人民满意公务员”活动，事业单位和窗口单位开展“诚信服务、礼貌待人”活动，企业开展“诚信做产品”活动）
				td 5
			tr
				td 2、文明程度指数和未成年人思想道德建设工作测评
				td 按照《汉阳区文明城市建设重点公共场所实地考察点位测评标准及责任分解表》进行检查考核，根据行业归口和属地管理原则划分界定街道、社区、单位包点包片责任，并运用《实地考察点位跟踪管理系统》进行考核评分。
				td 20

			//- 八
			tr
				td(rowspan="2") 八、内外环境优美（10分）
				td 1、积极开展爱国卫生运动，严格执行卫生管理制度，落实清洁卫生责任制，内外环境清洁整齐，无“脏乱差”现象，工作场所和生活区域做到绿化、美化、净化、亮化，为职工创造良好的工作和生活环境。
				td ①无日常环境管理制度的，环境脏乱的，扣2分；<br>②未积极参加周末清洁家园活动的，扣2分；<br>③未认真落实“门前三包”责任制的，扣3分。
				td 7
			tr
				td 2、内务管理规范有序，工作生活秩序良好。
				td ①无内务管理制度规范的,扣2分;<br>②出现单位公车违章的，1次扣0.5分，扣完1分为止。
				td 3

			//- 九
			tr
				td 九、实地考察（10分）
				td 创建氛围，整体环境
				td ①道德讲堂无固定场所的，扣1分；“六个流程”不规范的，扣1分；无道德讲堂统一LOGO标识的，扣1分；单位内部无浓厚的道德文化氛围的，扣1分。<br>②创建宣传氛围不浓厚的，扣1-4分。<br>③环境建设效果不明显，绿化美化净化水平不高的，扣1-2分。<br>④办公秩序不规范的，扣1-2分，员工不注重文明礼仪的，扣1-2分。<br>⑤无志愿服务活动岗、宣传栏和志愿服务活动提示牌的，扣3分。<br>⑥无能够满足员工文体活动需求场所（图书阅览室、文体活动室）的，扣1分。<br>⑦单位食堂没有“文明餐桌”温馨提示牌的，扣1分；发现剩菜、剩饭的扣1分。<br>⑧如发现单位上报动态管理系统的材料中有弄虚作假的，发现一处扣2分，直至扣完10分为止。
				td 10

			//- 十
			tr
				td 十、奖励分（10分）
				td 荣誉称号、先进典型、工作经验
				td ①获得区级综合性荣誉称号得1分；<br>②获得省、市级综合性荣誉称号得2分；<br>③获得国家综合性荣誉称号得3分。<br>④创建工作有创新、先进经验、先进典型。在区级宣传推广的得1分，在省、市级宣传推广的得2分，在全国宣传推广的得3分。<br>以上累计最高得分10分。
				td 10