extends ../../components/layout

block title
	title 通知公告

block side
	- var navActiveIndex = null
	include ../../components/side

block main
	//  当前位置
	ul.location.list-unstyled.clearfix.mb20
		li.location-item.pull-left.green 通知公告

	div.mb20
		a.btn.btn-success(href="#")
			span.glyphicon.glyphicon-plus
			| 新建消息

	// 表格
	div.m-table
		table.gray
			thead
				tr
					th 通知公告
					th
					th
					th
			tbody
				tr
					td
						span.glyphicon.glyphicon-bullhorn.green
						| 武汉市文明办发布通知要求给青少年一个丰富的教程
					td 汉阳区文明办
					td 2017-01-01
					td 
						a(href="#").green
							span.glyphicon.glyphicon-eye-open
				tr
					td
						span.glyphicon.glyphicon-bullhorn.green
						| 武汉市文明办发布通知要求给青少年一个丰富的教程
					td 汉阳区文明办
					td 2017-01-01
					td 
						a(href="#").green
							span.glyphicon.glyphicon-eye-open
				tr
					td
						span.glyphicon.glyphicon-bullhorn.green
						| 武汉市文明办发布通知要求给青少年一个丰富的教程
					td 汉阳区文明办
					td 2017-01-01
					td 
						a(href="#").green
							span.glyphicon.glyphicon-eye-open
				tr
					td
						span.glyphicon.glyphicon-bullhorn.green
						| 武汉市文明办发布通知要求给青少年一个丰富的教程
					td 汉阳区文明办
					td 2017-01-01
					td 
						a(href="#").green
							span.glyphicon.glyphicon-eye-open
				tr
					td
						span.glyphicon.glyphicon-bullhorn.green
						| 武汉市文明办发布通知要求给青少年一个丰富的教程
					td 汉阳区文明办
					td 2017-01-01
					td 
						a(href="#").green
							span.glyphicon.glyphicon-eye-open
				tr
					td
						span.glyphicon.glyphicon-bullhorn.green
						| 武汉市文明办发布通知要求给青少年一个丰富的教程
					td 汉阳区文明办
					td 2017-01-01
					td 
						a(href="#").green
							span.glyphicon.glyphicon-eye-open
				tr
					td
						span.glyphicon.glyphicon-bullhorn.green
						| 武汉市文明办发布通知要求给青少年一个丰富的教程
					td 汉阳区文明办
					td 2017-01-01
					td 
						a(href="#").green
							span.glyphicon.glyphicon-eye-open

		// 分页
		form.pages.form.form-inline.text-center
			div.form-group
				a.btn.btn-success(href="#")
					span.glyphicon.glyphicon-menu-left
			div.form-group
				span.green 1/7
			div.form-group
				a.btn.btn-success(href="#")
					span.glyphicon.glyphicon-menu-right
			div.form-group
				input.form-control(type="number" required)
			div.form-group
				button.btn.btn-success 跳转