@import '../mixin/variables'

/**
 * Page-doc
 */
 
.all-doc
	padding-top 10px

/**
* Page-doc-details
*/

.doc-details
	&-head
		position relative
		.col-xs-1
			width 95px

	&-status
		position absolute
		top 20px
		right 20px

	&-ctn
		img
			display block
			max-width 100%
			margin-bottom 10px