@import '../mixin/variables'

.index-banner
	margin-bottom 20px
.index-panel
	margin-bottom 20px	
	&-item
		padding 25px 0
		color #fff
		box-shadow 0 0 3px 0 rgba(0,0,0,.25)
		p
			font-size 34px
		span
			font-size 18px
	&-icon
		margin-right 10px
	
.index-table
	&-head
		padding 20px
		background #fff
		border 1px solid borderColor
		border-width 1px 1px 0 1px
	.glyphicon
		margin-right 4px

.index-time
	box-shadow 0 0 3px 0 rgba(0,0,0,.25)
	&-left
		float left
		position relative
		height 133px
	&-right
		float right
		font-size 36px
		line-height 133px
		background #fff
	&-left
	&-right
		width 50%
	&-left-ctn
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		font-size 18px
		color #fff