html
	height 100%
body
	height 100%
	background-image url(../images/login_bg.png)
	background-position center
	background-size 100% 100%
	background-repeat no-repeat
.mb50
	margin-bottom 50px
.border-radius
	border-radius 2px
.login-form
	position absolute
	top 50%
	left 50%
	width 460px
	padding 50px
	background-color rgba(255,255,255,.6)
	transform translate(-50%, -50%)
	&-group
		margin-bottom 10px
	&-input
		width 100%
		line-height 46px
		border none
		background-color rgba(255,255,255,.6)
	&-user
	&-pwd
		padding-left 55px
		background-position 15px center
		background-repeat no-repeat
	&-user
		background-image url(../images/id.png)
	&-pwd
		background-image url(../images/password.png)
	&-submit
		width 100%
		border none !important