@import '../mixin/variables'

/**
 * Page-org
 */
 
.all-org
	padding-top 10px

/**
 * Page-org-upload
 */
 
.org-upload-radio[type="radio"]
	position relative
	top 2px
	margin-right 5px

/**
 * Page-org-datails
 */
 
.org-details
	background #fff
	padding 25px 30px
	border 1px solid borderColor