@import '../mixin/variables'

/**
 * Page-org
 */
 
.all-org
	padding-top 10px

/**
 * Page-org-upload
 */
 
.org-upload-radio[type="radio"]
	position relative
	top 2px
	margin-right 5px

/**
 * Page-org-datails
 */
 
.org-details
	background #fff
	padding 25px 30px
	border 1px solid borderColor
	&-avatar
		width 80px
		height 80px
		border-radius 50%

/**
 * Page-org-create
 */

.org-avatar-preview
	width 80px
	height 80px
	border-radius 50%
input[type="file"].org-input-file
	display inline-block
