@import '../mixin/variables'

/**
 * Page-policy-create
 */
 
.policy-file-wrap
	position relative
.policy-file-thumb
	position absolute
.policy-file-btn
	position absolute
	z-index 2
	top 0
	right 0
	width 100%
	height 100%
	opacity 0
.policy-upload-radio
	position relative
	top 2px
	margin-right 5px !important
	color green