@import '../mixin/variables'

/**
 * Page-statis
 */

.border-radius
	border-radius 2px
	overflow hidden

.rank-head
	line-height 66px
	color #fff
	background green
	font-size 24px

.rank-list
	background #fff
	&-item
		padding 20px 30px
		border-bottom 1px solid borderColor
	&-count
		float left
	&-score
		float right

.rank-menu
	padding 120px 0 187px
	background #fff
	line-height 60px
	font-size 16px
	a
		color blue
	a:hover
		color blueHover