
<!-- 头部组件-->
<div class="layout-head clearfix">
  <!-- 当前用户-->
  <div class="user dropdown">
    <p id="dropdownMenu1" data-toggle="dropdown">汉阳区国家税务局<span class="caret soft"></span></p>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">设置</a></li>
      <li><a href="#">安全退出</a></li>
    </ul>
  </div>
  <!-- 搜索框-->
  <div class="global-search">
    <form>
      <div class="col-xs-4">
        <div class="input-group">
          <input class="form-control" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default"><span class="glyphicon glyphicon-search soft"></span></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>