table.table.table-striped
	tr
		th 
			input(type="checkbox")
		th 编码
		th 标题
		th 上报时间
		th 材料分类
		th 材料状态
		th 预计得分
		th 实际得分
		th 操作
	tr
		td
			input(type="checkbox")
		td 138457
		td 汉阳区国税局连续7次获得省级最佳单位
		td 2017-01-11
		td 组织领导
		td 上报成功
		td 1
		td 0.5
		td
			a.btn.btn-default.glyphicon.glyphicon-eye-open
			a.btn.btn-default.glyphicon.glyphicon-pencil
			a.btn.btn-default.glyphicon.glyphicon-trash
	tr
		td
			input(type="checkbox")
		td 138457
		td 汉阳区国税局连续7次获得省级最佳单位
		td 2017-01-11
		td 组织领导
		td 上报成功
		td 1
		td 0.5
		td
			a.btn.btn-default.glyphicon.glyphicon-eye-open
			a.btn.btn-default.glyphicon.glyphicon-pencil
			a.btn.btn-default.glyphicon.glyphicon-trash
	tr
		td
			input(type="checkbox")
		td 138457
		td 汉阳区国税局连续7次获得省级最佳单位
		td 2017-01-11
		td 组织领导
		td 上报成功
		td 1
		td 0.5
		td
			a.btn.btn-default.glyphicon.glyphicon-eye-open
			a.btn.btn-default.glyphicon.glyphicon-pencil
			a.btn.btn-default.glyphicon.glyphicon-trash