extends ../../components/layout

block title
	title 修改密码

block side
	- var navActiveIndex = null
	include ../../components/side

block main
	//  当前位置
	ul.location.list-unstyled.gray.mb20.clearfix
		li.location-item.pull-left 账号设置
		li.location-item.pull-left
			span.glyphicon.glyphicon-menu-right
			span.green 修改密码

	// 表单
	form#app.form-horizontal
		.form-group
			.col-xs-1.control-label 旧密码
			.col-xs-6
				input.form-control(placeholder="请输入六位数密码")
		.form-group
			.col-xs-1.control-label 新密码
			.col-xs-6
				input.form-control(placeholder="请输入六位数密码")
		.form-group
			.col-xs-1.control-label 再次输入
			.col-xs-6
				input.form-control(placeholder="请输入六位数密码")
		.form-group
			.col-xs-6.col-md-offset-1
				button(type="submit").btn.btn-success &nbsp;&nbsp;&nbsp;&nbsp;确认修改&nbsp;&nbsp;&nbsp;&nbsp;