bodyBackground = #f5f5f5
borderColor = #e5e5e5
soft = #cbd0d5
green = #1ccdaa
greenHover = #1cad90
greenActive = #20947d
black = #18191b
blue = #00a0e9
blueHover = #0b6d9a

sideWidth = 300px
sideWidthMin = 100px